body {
    justify-content: center;
    align-items: center;
    background-color: #fff0f5;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    color: #222;
}

.calculadora {
    background-color: #ffffff;
    border-radius: 16px;
    width: 320px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border: 2px solid #ffd6ec;
}

.calculadora__pantalla {
    width: 100%;
    height: 70px;
    text-align: right;
    padding: 15px;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    background-color: #f9f3fb;
    color: #333;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    font-weight: 300;
}

.calculadora__botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.calculadora__boton {
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    color: #36D5E6;
}

.calculadora__boton--numero {
    background-color: #74b9ff;
}

.calculadora__boton--numero:hover {
    background-color: #4d94e7;
}

.calculadora__boton--operacion {
    background-color: #FDAF6A;
    color: #ffffff;
}

.calculadora__boton--operacion:hover {
    background-color: #FDCB6E;
}

.calculadora__boton--igual {
    background-color: #FF6F61;
    color: white;
}

.calculadora__boton--igual:hover {
    background-color: #ff5252;
}

.calculadora__boton--clear {
    background-color: #fab1a0;
    color: #5c1f00;
}

.calculadora__boton--clear:hover {
    background-color: #FDCB6E;
}

.calculadora__boton--grande {
    grid-column: span 2;
}
